.innercontainer {
  position: relative;
  overflow: hidden;
}

.rowcontainer{
  margin-left: auto;
  margin-right:auto;
  margin-top: 0;
  margin-bottom: 10px;
  width: 90%;
}

.eventimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
 }


.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: absolute;
  top : 1%;
  left: 0%;
  text-align: justify;
}

.innercontainer:hover .overlay {
  opacity: 1;
}
.innercontainer:hover .eventimage{
  filter:blur(.75rem) brightness(70%);
}
.text {
  color: white;
  font-size: 16px;
  position: absolute;
  transition: opacity .6s; 
  width: 90%;
  
}
